# bot token for authorization
BOT_TOKEN='NjQyMTY4NDQ1NjcyMDk1NzY0.XcTAMQ.kuRbzu6cqX41reDYESAcgaqynWE'

# user agent used for Google search
USER_AGENT='Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0)'

# location of sqlite database file
SQLITE_DB='/tmp/search_history.db'
